@model GestorDeTareas.Models.Tarea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioAlta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioAlta.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioAsignado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioAsignado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioBaja.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioBaja.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad.PrioridadDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad.PrioridadDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.EstadoDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.EstadoDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
