@model IEnumerable<GestorDeTareas.Models.Tarea>

<h2>Lista de tareas</h2>

<p>
    @Html.ActionLink("Nueva Tarea", "Alta")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioAlta.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioAsignado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioBaja.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridad.PrioridadDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.EstadoDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioAlta.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioAsignado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioBaja.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridad.PrioridadDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.EstadoDesc)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
